<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex">
      <%= image_tag "photo_profile.jpg", class:"avatar" %>
      <h2> Agissons ensemble pour le futur.</h2>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Accueil", root_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mon parcours", "/mon-parcours", class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mes centres d'intérêts", "/mes-centres-interets", class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mes réalisations", "/mes-realisations", class:"nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
