<div class="container">
  <h1>Mon parcours</h1>
  <div class="row">

    <div class="card-paragraph col-10">
      <h3>Mes formations <i class="fa fa-book"></i></h3>
      <p>
        Après mon bac j'ai suivi 2 ans de cours préparatoires en filière MPSI/MP (Mathématiques Physique et Science de
         l'Ingénieur) pour passer les concours d'entrées en école d'ingénieur.
        J'ai intégré l'ENSMM désormais SUPMICROTECH et j'ai complété ma formation d'ingénieur par un master Mécatronique
         et Microsystèmes en 3eme année avec URF science de Franche-Comté.
      </p>
      <div class="d-flex justify-content-center">
        <%= link_to 'https://www.supmicrotech.fr/', target: "_blank" do %>
          <%= image_tag 'supmicrotech-logo.png', class: "img_link mx-5 mb-2" %>
        <% end %>
        <%= link_to 'http://sciences.univ-fcomte.fr/', target: "_blank" do %>
          <%= image_tag 'UFR_logo.png', class: "img_link mx-5 mb-2" %>
        <% end %>
      </div>
      <p>
        Après quelques années en entreprise et plein de nouvelles compétences acquises, j'ai suivi un bootcamp en
         developement web pour compléter mes connaissances et m'ouvrir de nouveaux horizons.
      </p>
      <div class="d-flex justify-content-center">
        <%= link_to 'https://www.lewagon.com/fr/', target: "_blank" do %>
          <%= image_tag 'https://www.lewagon.com/assets/v4/logo-lewagon-9c19fb39a748cd3b1f49059ce0dc6c0dfc4cc2447d5a9a3e01bd2d5a214faf3c.svg', class: "img_link mx-5 mb-2" %>,
        <% end %>
      </div>
    </div>
    <div class="w-100"></div>

    <div class="card-paragraph col-10  ms-auto">
      <h3>Mes premières expériences lors de mes stages <i class="fa-regular fa-star"></i></h3>
      <h6>De la CAO sur Solidworks</h6>
      <p>
        J'ai effectué mon premier stage lors de ma deuxième année à l'ENSMM (de septembre 2009 à janvier 2010) avec la
         société Avenao située à Montigny-le-Bretonneux (78).
        <br>
        Au sein d'une équipe, nous étions en charge du support technique du logiciel Solidworks auprès des clients d'Avenao.
        J'ai pu approfondir ma maitrise de ce logiciel et de ses compléments notament la partie simulation autant pour
         comprendre les problèmes rencontrés par mes interlocuteurs que pour être en capacité de leur expliquer les solutions.
        <br>
        Lors de ce stage j'ai pu obtenir la Certification SolidWorks Support Technique (CSWST).
      </p>
      <h6>Identification des paramètres d'un robot</h6>
      <p>
        Pour valider mon master j'ai également du réaliser un stage de recherche (de février à avril 2011) qui a eu lieu
         au LSIIT à Strasbourg(67).
        L'objectif de ce stage était trouver un modèle de paramètres applicable à un robot manipulateur flexible.
         L'acquisition de données lors de l'utilisation du robot permettait de venir valider un modèle théorique et de
         l'améliorer pour trouver le meilleur modèle correspondant au comportement du robot.
      </p>
      <h6>Un peu de machine learning</h6>
      <p>
        J'ai rapidement enchainé sur mon stage de fin d'étude à l'ONERA (de mai à septembre 2011) sur le site de Palaiseau (91).
        J'avais pour mission de développer par machine learning un logiciel de détection d'objet dans une image.
        Pour mettre en pratique ce logiciel dans un contexte de recherche de véhicules par un drone, j'ai créé une base de
         données d'images de voiture en prenant moi même des vidéos en situation réélle avec un drone Parrot.
      </p>
    </div>
    <div class="w-100"></div>

    <div class="card-paragraph col-10">
      <h3>Mes expériences dans l'aéronautique <i class="fa-regular fa-paper-plane"></i></h3>
      <h6>Conception de systèmes avioniques</h6>
      <p>
        A partir de 2011, pour mon premier poste j'ai eu la chance de découvrir l'éaronautique à travers les systèmes d'alarmes cockpit des
         avions de la famille A320, A330 et A340 d'Airbus. En tant de conceptrice système chez AKKA technologie à Toulouse (31)
         j'ai effectivement eu à travailler sur des sujets très varier comme les systèmes de communication, de prélèvement
         d'air moteur pour concevoir et spécifier les alertes et procédures à afficher aux pilotes.
        Après les systèmes d'alarmes, j'ai continué sur la conception et la spécification des fonctions commandes de vol pour les airbus A330 et A340.
        <br>
        En complément de mes activités techniques j'ai eu la responsabilité du support auprès des clients et de leur services,
         puis la gestion d'une équipe de 3 à 5 personnes.
      </p>
      <h6>Développement de logiciels</h6>
      <p>
        Courant l'année 2017, j'ai décidé de me reformer à la programmation logicielle pour revenir sur ce domaine que
         j'avais un peu pratiqué lors de mes études et de mes stages. cette décision m'a amené à rejoindre la société SII
         à Toulouse (31) pour développer dans un premier temps des logiciels embarqué pour Thales puis des logiciels
         applicatifs pour Airbus.
        Lors de mon retour sur des projets Airbus j'ai eu la chance de pouvoir associer mes expériences en travaillant
         sur des outils à destination des concepteurs systèmes pour les commandes de vol.
        J'ai également gardé en complément de mes activités techniques de la gestion d'équipe de 3 à 8 personnes.
      </p>
    </div>
    <div class="w-100"></div>

    <div class="card-paragraph col-10  ms-auto">
      <h3>Et la suite... <i class="fa-solid fa-question"></i></h3>
      <p>
        En 2022, je prend un nouveau virage pour me lancer dans l'apprentissage du développement Web avec Le Wagon.
        Suite à cette formation je m'apprête à partir dans une nouvelle aventure qui s'annonce riche en challenges.
      </p>
    </div>

  </div>
</div>
