<div class="container">
  <h1>Mon parcours</h1>
  <div class="row">

    <div class="card-paragraph col-10">
      <h3>Mes formations <i class="fa fa-book"></i></h3>
      <p>
        Après mon bac j'ai suivi 2 ans de cours préparatoires en filière MPSI/MP (Mathématiques Physique et Science de
         l'Ingénieur) pour passer les concours d'entrées en école d'ingénieur.
        J'ai intégré l'ENSMM désormais SUPMICROTECH et j'ai complété ma formation d'ingénieur par un master Mécatronique
         et Microsystèmes en 3eme année avec URF science de Franche-Comté.
      </p>
      <div class="d-flex justify-content-center">
        <%= link_to 'https://www.supmicrotech.fr/', target: "_blank" do %>
          <%= image_tag 'supmicrotech-logo.png', class: "small_img_link mx-5 mb-2" %>
        <% end %>
        <%= link_to 'http://sciences.univ-fcomte.fr/', target: "_blank" do %>
          <%= image_tag 'UFR_logo.png', class: "small_img_link mx-5 mb-2" %>
        <% end %>
      </div>
      <p>
        Après quelques années en entreprise et plein de nouvelles compétences acquises, j'ai suivi un bootcamp en
         developement web pour compléter mes connaissances et m'ouvrir de nouveaux horizons.
      </p>
      <div class="d-flex justify-content-center">
        <%= link_to 'https://www.lewagon.com/fr/', target: "_blank" do %>
          <%= image_tag 'https://www.lewagon.com/assets/v4/logo-lewagon-9c19fb39a748cd3b1f49059ce0dc6c0dfc4cc2447d5a9a3e01bd2d5a214faf3c.svg', class: "small_img_link mx-5 mb-2" %>,
        <% end %>
      </div>
    </div>
    <div class="w-100"></div>

    <div class="card-paragraph col-10  ms-auto">
      <h3>Mes expériences <i class="fa-regular fa-paper-plane"></i></h3>
      <p>
        Sept.  2009 - Janv. 2010
        Avenao.
        Montigny-le-Bretonneux (78)
        Stage ingénieur
        - Support technique des clients
        - Obtention de la Certification SolidWorks Support Technique (CSWST).
      </p>
      <p>
        Févr. 2011 - Avril 2011
        LSIIT.
        Strasbourg(67)
        Stage de recherche
        Identification des paramètres d’un robot manipulateur flexible.
      </p>
      <p>
        Mai 2011 – Sept. 2011
        ONERA.
        Palaiseau (91)
        Stage de fin d’études
        - Développement par machine learning d’un logiciel de détection d’objet dans une image
        - Création d’une base de données d’images
        - Captation d'images à partir d’un drone Parrot.
      </p>
      <p>
        Octo. 2011- Juin 2017
        Aéroconseil (AKKA).
        Toulouse (31)
        Concepteur systèmes
        - Conception et spécification de systèmes avioniques (commandes de vol et alarmes cockpit)
        - Responsabilité d'équipe de 3 à 5 personnes
        - Responsable du support auprès des clients et de leur services.
        - Client : Airbus Aircraft
      </p>
      <p>
        Juin 2017-Octo. 2022
        SII.
        Toulouse (31)
        Ingénieur logiciels
        - Conception et développement de logiciels applicatifs.
        - Développement et validation d'un portail internet.
        - Développement et validation de drivers et macrocommandes et d'un logiciel « segment sol » de satellites.
        - Validation du logiciel applicatif intégré dans une suite avionique.
        - Responsabilité d'équipe de 3 à 8 personnes
        - Clients : Thalès Alénia Space,  Thalès Avionique, Airbus Aircraft
      </p>
    </div>

  </div>
</div>
